h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #207ECF;
}

body {
  font-size: 1em;
}

#bottom {
  color: #888;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

#bottom a {
  color: #444;
}

.big {
  font-size: 1.2em;
}

p {
  line-height: 150%;
}

#title {
  font-weight: 300;
  font-size: 5em;
  line-height: 1em;
  margin: 0.4em 0 0.6em;
  text-align: center;
}

.cta {
  text-align: center;
  background: #f5f5f5;
  padding: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 1em;
}

.cta .btn {
  font-size: 1em;
  margin-left: 0.5em;
}

.progress-to-date {
  margin: 1em 0 1em;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  line-height: 1em;
  color: #999;
}

.progress-to-date span {
  font-weight: 600;
  color: #207ecf;
}

.opp {
  margin-bottom: 1em;
}

ul.invites {
  margin: 2.5em 10% 1em;
}

ul.invites li {
  text-indent: -999em;
  width: 24px;
  height: 24px;
  background: #ddd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 3px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;'
}

ul.invites li.user {
  text-indent: 0;
}

ul.invites li.user img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #207ECF;
  -moz-box-shadow: 0 0 10px #207ECF;
  box-shadow: 0 0 10px #207ECF;
}

ul.invites li.active {
  background: #207ECF;
  border: 2px solid #224499;
  -webkit-box-shadow: 0 0 10px #207ECF;
  -moz-box-shadow: 0 0 10px #207ECF;
  box-shadow: 0 0 10px #207ECF;
}

.add-to-wall {
  margin: 1em 0 5em;
  text-align: center;
  opacity: 0.7;
  font-size: 0.9em;
}

.add-to-wall:hover {
  opacity: 1.0;
}

.add-to-wall .btn {
  margin-left: 5px;
}

.social-links {
  text-align: center;
  margin: 1em 0;
}

.social-links .twitter-share-button {
  vertical-align: bottom;
}

.social-links .gplus {
  display: inline-block;
  position: relative;
}

.social-links .gplus > div {
  position: absolute;
  top: -15px;
}


.stat { margin-bottom: 2em;}

.stat h3 {
  text-transform: uppercase;
  font-size: 0.9em;
}

.stat .number {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  display: block;
  margin-top: 0;
}

.stats-tease {
  margin-top: 2.5em;
  color: #777;
  text-align: center; 
  font-size: 0.8em;
}

.stat-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

.stat-list li {
  border-bottom: 1px solid #f5f5f5;
  line-height: 200%;
  font-weight: 300;
}

.stat-list .value {
  color: #207ECF;
  font-weight: normal;
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}
